<div class="container">
  <div class="row border border-light">
    <div class="col-md-10 offset-md-1">

      <div class="form-group has-search mt-5">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" (keyup)=search()>
      </div>

      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <a class="nav-link {{ moviesActive === true ? 'active' : null}}" (click)="setActive('M')">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ moviesActive === false ? 'active' : null}}" (click)="setActive('S')">TV Show</a>
        </li>
      </ul>
      <div *ngIf="moviesActive">
        <div class="card bg-light" *ngFor="let movie of filteredMovies">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-3">
              <img class="card-img-top img-thumbnail float-left" src="{{movie.imageUrl}}" alt="Card image cap">
            </div>
            <div class="col-12 col-sm-12 col-md-9">
              <div class="card-body p-1">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.description}}</p>
                <span>Stars: </span>
                <p class="card-text text-danger d-inline">{{getActors(movie.cast)}} </p>
                <div class="border border-light bg-white rounded pt-1">
                  <star-rating [starType]="'svg'" [showHalfStars]="true" [hoverEnabled]="true" [rating]="movie.rating"
                    (ratingChange)="onRatingChange($event, movie)"></star-rating>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-primary" (click)="loadMore()">Show more</button>
        </div>
      </div>
      <div *ngIf="!moviesActive">
        <div class="card bg-light" *ngFor="let show of filteredTvShows">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-3">
              <img class="card-img-top img-thumbnail float-left" src="{{show.imageUrl}}" alt="Card image cap">
            </div>
            <div class="col-12 col-sm-12 col-md-9">
              <div class="card-body p-1">
                <h5 class="card-title">{{show.title}}</h5>
                <p class="card-text">{{show.description}}</p>
                <span>Stars: </span>
                <p class="card-text text-danger d-inline">{{getActors(show.cast)}}</p>
                <div class="border border-light bg-white rounded pt-1">
                  <star-rating [starType]="'svg'" [showHalfStars]="true" [hoverEnabled]="true" [rating]="show.rating" (ratingChange)="onRatingChange($event, show)">
                  </star-rating>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-primary" (click)="loadMore()">Show more</button>
        </div>
      </div>
    </div>
  </div>
</div>